*{
  margin: 0;
  border: 0;
}

:root{
  --background-image: url(./assets/bg-mobile.jpg);
  --profile-color: white;
  --border-color: rgb(129, 128, 128);
  --max-width: 320px;
}

.light{
  --background-image: url(./assets/bg-mobile-light.jpg);
  --profile-color: rgb(44, 42, 44);
  --border-color: rgb(129, 128, 128);
}

body{
  height: 100vh;
  margin: 60px auto;
  max-width: var(--max-width);
  background-image: var(--background-image);
  font-family: "Inter", system-ui;
}

/* Perfil */

.profile{
 display: flex;
 flex-direction: column;
 align-items: center;

 margin: 32px auto;
 color: var(--profile-color);
 
 position: relative;
}

.profile p{
  font-weight: bold;
  font-size: 18px;
}

.profile-img img{
  max-width: 120px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  margin: 4px 0;
}

/* Botão de Switch */

.switch-button{
  position: absolute;
  right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: initial;
  
  transition: 100ms;
}

.switch-button:hover{
  cursor: pointer;
  background-color: #63626294;
}

.switch-icon{
  height: 100%;
  width: 100%;
  color: var(--profile-color);
}

/* Links */

.links ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 50vh;
  list-style: none;
}

.links ul li a{
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  max-height: 55px;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 16px;
  background-color:#4e4d4d94;
  color: white;
  border-radius: 4px;
  text-decoration: none;

  transition: 200ms;
}

.links ul li a:hover{
  cursor: pointer;
  background-color: #63626294;
}

/* Ícones de Mídias Sociais */

.media-links{
  display: flex;
  justify-content: space-evenly;

  margin: 0 auto;
  width: var(--max-width);
}

.media-links a{
  font-size: 20px;
  color: var(--profile-color);
  padding: 8px 8px 2px;
  border-radius: 999px;

  transition: 100ms;
}

.media-links a:hover{
  background-color: #63626294;
}


@media (min-width: 700px){
  :root {
    --background-image: url(assets/bg-desktop.jpg);
    --max-width: 580px;
  }

  .light {
    --background-image: url(assets/bg-desktop-light.jpg);
    --max-width: 580px;
  }
}
